<%- include('templates/encabezado')%>
<body style="background-color: ghostwhite;">
    <div class="container">
        <div style="text-align: center;">
            <img src="/public/images/micro.png" height="300" style="text-align: center;">
            <pre>
            </pre>
            <h1 style="text-align: center;"><b>Acceso denegado, no eres administrador</b></h1>
            <pre>
            </pre>
            <h3 style="text-align: center;"><b>Si tienes problemas con tu cuenta, comunicate en callcenter para cualquier duda, información o aclaranción</b></h3> 
            <pre>
            </pre>
            <a href="/" class="btn btn-primary col-8">Regresar</a>
            <pre></pre>
            <a href="/callcenter" class="btn btn-secondary col-8">📞 Callcenter</a>
        </div>
    </div>
    
</body>

<%- include('templates/fin')%>