<%- include('templates/encabezadob')%>
<body style="background-color: black;">
<pre></pre>
<center>
<h2 style="color: white;"><b>¡Tu opinión nos ayuda a mejorar nuestro servicio!</b></h2>
</center>
<pre>
</pre>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <form action="/helpUser" method="POST">
        <div class="card">
            <div class="card-header" style="background-color:  rgb(255, 166, 0);"><h1><b>Servicio a clientes</b></h1></div>
            <div class="card-body">
                <input class="form-control mb-3" type="text" name="nameHelp" id="nameHelp" placeholder="Nombre completo:">
                <input class="form-control mb-3" type="text" name="emailHelp" id="emailHelp" placeholder="Correo:">
                <textarea class="form-control" name="messageHelp" id="messageHelp" cols="30" rows="10" placeholder="Escribe tus comentarios..."></textarea>
            </div>
            <div class="card-footer" style="background-color: rgb(255, 166, 0);">
                <button class="btn btn-primary mt-3 mb-3 col-12" type="submit">Enviar mensaje</button>
                <a class="btn btn-secondary mt-3 mb-3 col-12" href="/gpsUser">Cancelar</a>
            </div>
        </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>
<pre>

</pre>
</body>

<%- include('templates/fin')%>