<form action="/datosAlumnos" method="POST">
    <input type="text" name="grupo" id="grupo" placeholder="Ingresa tu Grupo"><br><br>
    <input type="text" name="carrera" id="carrera" placeholder="Ingresa tu Carrera"><br><br>
    <button type="submit">Enviar</button>
</form>