<%- include('templates/encabezadob')%>
<body style="background-color: ghostwhite;">
    <div class="container">
        <div style="text-align: center;">
            <img src="/public/images/micro.png" height="300" style="text-align: center;">
            <pre>
            </pre>
            <h1 style="text-align: center;"><b>Tu pago ha sido registrado correctamente. Buen viaje!</b></h1>
            <pre>
            </pre>
            <a href="/gpsUser" class="btn btn-primary col-8">Regresar</a>
            <pre></pre>
            <a href="/helpUser" class="btn btn-secondary col-8">📞 Callcenter</a>
        </div>
    </div>
    
</body>

<%- include('templates/fin')%>