<body style="background-color: ghostwhite;">
    <div class="container">
        <div class="row">
        <center>
            <img src="/public/images/micro.png" alt="400 Error" height="300" style="text-align: center;">
        </center>
        <pre>
        </pre>
        <div class="col-lg-2 col-md-2 col-sm-0"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h1 style="text-align: center;"><b>ANTECEDENTES DE LA EMPRESA</b></h1>
            <pre>
            </pre>
            <p style="text-align: justify;">Nuestro sitio web tiene poca historia, esta idea nace del problema
            que hay por la pandemi actual, en donde mediante una lluvia de ideas entre equipo, se llegó a una 
            conclusión para poder crear esta página web y poder beneficiar a la sociedad.</p>
            <pre>
            </pre>
            <h1 style="text-align: center;"><b>MISIÓN</b></h1>
            <pre>
            </pre>
            <p style="text-align: justify;">Nuestra misión es crear un sitio web para transporte público, la cual
                tiene como tarea buscar distintas alternativas al tomas el transporte, su objetivo es poder 
                administrar el tiempo y bridar opciones a nuestros usuarios.
            </p>
            <pre>
            </pre>
            <h1 style="text-align: center;"><b>VISIÓN</b></h1>
            <pre>
            </pre>
            <p style="text-align: justify;">Nuestra visión es convertir a LA MICRO.com en un sitio web estable en el
            mercado eficiente y tan requerida, lograr que llegue a ser utilizada por más personas, de esta manera
            incrementar sus ingresos y servicios.</p>
            <pre>
            </pre>
            <h1 style="text-align: center;"><b>POLITICAS DE CALIDAD</b></h1>
            <pre>
            </pre>
            <p style="text-align: justify;">Somos un equipo de trabajo cuyas acciones diarias las ejecutamos con una 
                    elevada vocación de servicio a los usuarios en nuestra visión de empresa, basada en la mejora continua en
                    los siguientes principios:
                <li><b>Integridad Personal: </b>Como expresión de disciplina, orden, respeto, honestidad y entuasiamo.</li>
                <li><b>Creatividad e Innovación: </b>Como parte de nuestro reto diario para el mejoramiento continúo de la 
                aplicación.</li>
                <li><b>Productividad: </b>En nuestro trabajo y en el empleo de los recursos materiales.</li>
                <li><b>Conciencia: </b>En la práctica de un trabajo libre de errores y en el compromiso leal con el proyecto y 
                con las realizaciones de calidad.</li>
        </p>
            
        </div>

        <div class="col-lg-1 col-md-1 col-sm-12"></div>
        </div>
    </div>
</body>
<%- include('templates/fin')%>