<%- include('templates/encabezado')%>
<pre></pre>
<body style="background-color: black;">

    <div class="container" >
        <div class="row">
        <!--TITULO DE LA PAGINA-->
        <div class="col-lg-2 col-md-2 col-sm-0"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; background-color: black; color: white; text-align: center;" >¡Bienvenido!</h1>
        <form action="/login" method="POST">
        <div class="card">
            <div class="card-header border border-dark" style="background-color: black; color: white;"><h3><b>Inicia sesión</b></h3></div>
            <img class="card-img-top" src="/public/images/SJR.png">
            <div class="card-body" style="background-color: rgb(255, 123, 0);">
                <p><b>Email:</b></p>
                <input class="form-control mb-3 border border-dark" type="email" name="emailLogin" id="emailLogin" placeholder="user1234@gmail.com">
                <p><b>Contraseña:</b></p>
                <input class="form-control mb-3 border border-dark" type="password" name="passwordLogin" id="passwordLogin" placeholder="password123">
            </div>
            <div class="card-footer border border-dark" style="background-color: black;">
                <button class="btn btn-primary col-4" type="submit"><b>Ir</b></button>
                <a class="btn btn-secondary col-3" href="/new"><b>Registrarme</b></a>
            </div>
        </div>
        </form>
        </div>
        <div class="col-12" >
        <pre>

        </pre>
        <div class="col-lg-2 col-md-2 col-sm-0"></div>
    </div>
    </div>
</div>
    <pre>


    </pre>
</body>
<%- include('templates/info_extra')%>


<!--FIN-->
<%- include('templates/fin')%>
