<pre></pre>
<div style="background-color: black;">
<div class="container">
  <div class="row">
<div class="col-lg-4 col-md-5 col-sm-12">
    <pre></pre>
    <h2 style="color: rgb(255, 123, 0);">Más sobre nosotros</h2>
    <h4 style="color: rgb(255, 123, 0);">Ofrecemos a nuestros clientes:</h4>
  </div>
  <!--FINAL DE SUBTEMA3-->
  <pre></pre>

  <!--INFORMACION EXTRA INICIO-->
  <pre style="background-color: rgb(255, 123, 0) ;">
  </pre>
  <div class="col-lg-3 col-md-5 col-sm-12">
    <p></p>
    <p style="text-align: center;">
      <!--IMAGEN-->
    <img src="/public/images/Android.png" width="130">
    </p>
    <p style="text-align: justify; color: white;"><b>LA MICRO.COM</b> espera que su lanzamiento pueda estar en todo dispositivo Android de la zona de San Juan del Río, Quéretaro. Conforme su escalabilidad sea mayor, se espera poder trabajar con cualquier sistema operativo.</p>
    
    <p></p>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-0"></div>
  <div class="col-lg-3 col-md-5 col-sm-12">
    <p style="text-align: center;">
      <!--IMAGEN-->
    <img src="/public/images/Mano.png" width="150">
    </p>
    <p style="text-align: justify; color: white;">El funcionamiento correcto es importante para el sitio web, es por eso que se espera ser un sitio sin errores ni calidades bajas hacía los usuarios. </p>
    <p></p>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-0"></div>
  <div class="col-lg-3 col-md-5 col-sm-12">
    <p></p>
    <p style="text-align: center;">
      <!--IMAGEN-->
    <img src="/public/images/Pais.png" width="200">
    </p>
    <p style="text-align: justify; color: white;"><b>LA MICRO.com</b> comenzó principalmente en su lugar de origen (San Juan del Río, Querétaro), después pretende servir al estado de Querétaro, finalmente, toda la republica mexicana.</p>
    <p></p>
  </div>
  <pre style="background-color:  rgb(255, 123, 0);">
  </pre>
  <div class="col-md-1"></div>
  <div class="col-lg-5 col-md-5 col-sm-12">
    <p></p>
    <p style="text-align: center">
      <!--IMAGEN-->
    <img src="/public/images/Seguridad.png" width="150">
    </p>
    <p style="text-align: justify; color: white;">La información personal de los clientes es importante, es por ello que se compromete a salvaguardar la información de cada usuario que use este sitio web.</p>
    <p></p>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-0"></div>
  <div class="col-lg-5 col-md-5 col-sm-12">
    <p></p>
    <p style="text-align: center;">
      <!--IMAGEN-->
    <img src="/public/images/Manos.png" width="200">
    </p>
    <p style="text-align: justify; color: white;"><b>LA MICRO.com</b> no quiere complicarse con el progreso de este proyecto, es por eso que busca las distintas herramientas de uso y con estándares de calidad para ofrecer un buen servicio al público. </p>
    <p></p>
  </div>
  <pre style="background-color:  rgb(255, 123, 0);">
  </pre>
    <div class="col-lg-3 col-md-1 col-sm-0"></div>
    <div class="col-lg-6 col-md-5 col-sm-12">
      <p></p>
      <p style="text-align:center;">
        <!--IMAGEN-->
      <img src="/public/images/Autobus.png" width="200">
      </p>
      <p style="text-align: justify; color: white;">No busca dar problemas a sus usuarios, es por eso que se espera estar en un corto tiempo en cualquier sistema operativo.</p>
      <p></p>
    </div>
    <pre style="background-color:  rgb(255, 123, 0);">
    </pre>
</div>
</div>
</div>
