<%- include('templates/encabezadoc')%>
<body style="background-color: black;">
<pre></pre>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <form action="" method="POST">
        <div class="card">
            <div class="card-header" style="background-color:  rgb(255, 166, 0);"><h1>Contáctanos</h1></div>
            <div class="card-body">
                <input class="form-control mb-3" type="text" name="nombreContacto" id="nombreContacto" placeholder="Nombre:">
                <input class="form-control mb-3" type="text" name="correoContacto" id="correoContacto" placeholder="Correo:">
                <textarea class="form-control" name="mensajeContacto" id="mensajeContacto" cols="30" rows="10" placeholder="Escribe tus comentarios..."></textarea>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary mt-3 mb-3 col-12" type="submit">Enviar mensaje</button>
                <a class="btn btn-secondary mt-3 mb-3 col-12" href="/gps">Cancelar</a>
            </div>
        </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>
<pre>

</pre>
</body>

<%- include('templates/fin')%>