<%- include('templates/encabezadoc')%>
<body style="background-color: black;">
<div class="container" style="background-color: rgb(255, 166, 0);">
    <pre>
    </pre>
    <div class="card">
        <div class="card-header" style="background-color: aliceblue;">
            <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black;text-align: justify;"><b>¡Tus viajes!</b></h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead style="background-color: black; color: white;">
                  <tr>
                    <th scope="col">Matricula</th>
                    <th scope="col">Ubicación inicial</th>
                    <th scope="col">Ubicación final</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Costo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="background-color: grey;">
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr style="background-color: white;">
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr style="background-color: gray;">
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="card-footer" style="background-color: black;">
          <a class="btn btn-primary" href="/gps"><b>REGRESAR</b></a>
        </div>
    </div>
    <pre>

    </pre>
</div>
</body><%- include('templates/fin')%>
